# Project exclude paths
/chapter1/target/
/chapter2/target/
/chapter3/target/
/chapter4/target/
/chapter5/target/
/chapter6/target/
/chapter7/target/
/chapter8/target/
/chapter9/target/

### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

